@model List<UserMessage>

@{
    Layout = "_myLayoutPage";
}

<h1>MessageResponses</h1>
<p>Newest message: <i>@ViewData["newestMessage"]</i></p>
<button onclick="window.location.href='Contact'">Add a message</button><br /><br />

@{
    foreach (UserMessage message in Model)
    {
        <br />
        @if (message.Users.Count > 0)
        {
            <p>User : @message.Users[0].UserName</p>
            @message.Message
            <p>Date Posted: @message.Date</p>
            @*<a href="MessageComments">Add a comment</a>*@
            @Html.ActionLink(
                    "Add a comment",
                    "MessageComments",
                    "Home",
                    message,
                    null
                )

            @if (message.Comments.Count > 0)
            {
                <p>Comments for @message.Users[0].UserName</p>
                @foreach (Comment comment in message.Comments)
                {
                    @comment.CommentText <br />
                    @comment.PubDate <br />
                }
            }
        }
    }
    <br />
    <br />
}

