@model  List<ImportantPeople>

@{
    ViewData["Title"] = "People";
}

<h1>Important People</h1>
<h3>Number of important people: @ViewBag.peopleCount</h3>

@foreach(ImportantPeople person in PeopleRepository.People)
{
    <p>@person.FirstName @person.LastName</p>
    <p>@person.BirthDate - @person.DeathDate</p><br />
}

